[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/Blubmin/imgui.git
[submodule "third_party/tinyfiledialogs"]
	path = third_party/tinyfiledialogs
	url = git://git.code.sf.net/p/tinyfiledialogs/code
